@import "./normalize.scss";
@import "./vars.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    max-height: 64px;
}

body {
    font-family: 'Roboto', sans-serif;
    
    .v-pagination {
        margin-top: 20px;
    }

    .packagesList {
        margin-top: 40px;
    }

    .v-card {
        cursor: pointer;

        &:hover {
            box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%) !important;
        }
    }

    .v-list-item__subtitle {
        white-space: normal;
    }

    .ms-container {
        min-height: 80vh;
    }
}

html, body, #root, .app, #app {
    max-height: 80vh;
}

footer .text-center {
    text-align: center;
}